<div class="timely ai1ec-modal ai1ec-fade" id="ai1ec-create-event-modal">
  <div class="ai1ec-modal-dialog">
    <div class="ai1ec-modal-content">
    	<div class="ai1ec-loading ai1ec-show"></div>
    	<div class="ai1ec-ajax-placeholder">
    		<!-- Form content is loaded here via AJAX. -->
    	</div>
    </div>
  </div>
</div>
