<div id="ai1ec-box-oauth-provider-twitter" class="misc-pub-section">
    <label for="ai1ec-oauth-provider-twitter">{{ title }}</label>
    <input type="checkbox" value="1" {{ checked }} name="ai1ec_oauth_provider_twitter" id="ai1ec-oauth-provider-twitter" />
</div>