{% for venue in venues %}
	<a href='#ai1ec-venue-details' class='ai1ecv_venue' data-toggle="ai1ec-modal" data-venue_id="{{ venue.id }}">{{ venue.name }} - {{ venue.address }}</a>
{% endfor %}

<div class="ai1ec-modal ai1ec-fade timely" id="ai1ec-venue-details">
	<div class="ai1ec-modal-dialog">
		<div class="ai1ec-modal-content">
			<div class="ai1ec-loading ai1ec-show"></div>
			<div class="ai1ec-ajax-placeholder">
				<!-- Form content is loaded here via AJAX. -->
			</div>
		</div>
	</div>
</div>
